
@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe&display=swap');
cite{font-family: 'ZCOOL KuaiLe', cursive;}
h1, h2, h3, h4, h5, h6 { text-transform: uppercase;}
h1{ color: rgb(9, 143, 125) }
h1, h2, h3, h4, h5, h6, body { font-family:sans-serif; width: 50%}
body {background-image: url("sdfsdfsdfsdefasedfaw.jpg");background-size: 650px 320px;}
.r {background-color: white; margin: auto; width: 75% }


